*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.buscarNota{
    text-align: left;
    
}

body {
    background-color: #839192  ;
    
}

.listaNotas{
    text-align: center;
    color: white;
}

.listaBusqueda{
    text-align: center;
    color: white;
}
.eliminar{
    text-align: right;
}

#nota-form{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.descripcionNota{
    width: 40%;
    height: 30;
    display: flex;
}
